{#<div class="tab-pane fade" id="{{ tabId1 }}" role="tabpanel">#}
{#    <p class="mb-0 icon icon--copy-clipboard">#}
{#        <i class="material-icons-outlined clipboard"#}
{#           data-toggle="tooltip"#}
{#           data-placement="top"#}
{#           data-clipboard-target="#{{ clipboardId }}"#}
{#           title="Copy to clipboard">file_copy#}
{#        </i>#}
{#    </p>#}
{#    <pre id="{{ clipboardId }}" class="">#}
{#        <code class="{{ mediaType }}">{{ example }}</code>#}
{#    </pre>#}
{#</div>#}
