<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
        <link href="../raml2html/themes/fonts/MavenPro.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>{{ api.title }}</title>
        <style>
            body {
                font-family: "Maven Pro";
            }
            .sidebar-menu, .search-input  {
                background-color: #fcfcfc;
            }
            h2 {
                /*font-size: 22px;*/
            }
            h3 {
                font-size: 26px;
            }
            h4 {
                font-size: 22px;
            }
            h5 {
                font-size: 20px;
            }
            h6 {
                font-size: 18px;
            }
            table {
                box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
                max-width: 100%;
                border-radius: .2rem;
            }
            table th {
                background-color: rgba(0,0,0,.54);
                color: #fff;
                vertical-align: top;
            }
            table:not([class]) td {
                border-top: .1rem solid rgba(0,0,0,.07);
                vertical-align: top;
            }
        </style>
    </head>
<body>
<main class="overflow-hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 pt-3 sidebar-menu">
                <div class="container text-left">
                    <h1 class="text-center">
                        <a href="{{ api.baseUri }}">
                            <img class="w-25" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgdmlld0JveD0iMCAwIDg1MC40IDg1MC40IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyZWN0IHg9IjEwNS41IiB5PSIxMDYuMyIgd2lkdGg9IjU0MC40IiBoZWlnaHQ9IjU0MC40Ii8+PHJlY3QgeD0iMTU3LjkiIHk9IjE1OC43IiB3aWR0aD0iNDM1LjciIGhlaWdodD0iNDM1LjciIGZpbGw9IiNmZmYiLz48cmVjdCB4PSIzMjkuMiIgeT0iMzI4LjQiIHdpZHRoPSI0MTUuNyIgaGVpZ2h0PSI0MTUuNyIvPjxyZWN0IHg9IjM3OC45IiB5PSIzNzguMSIgd2lkdGg9IjMxNi4xIiBoZWlnaHQ9IjMxNi4yIiBmaWxsPSIjRjA1QTIyIi8+PC9zdmc+DQo=" alt="ez-logo" />
                        </a>
                    </h1>
                    <div class="d-flex justify-content-center mt-3">
                        <i class="material-icons">search</i>
                        <input type="text" id="searchInput" class="search-input w-100 rounded-sm border-top-0 border-left-0 border-right-0 pl-3" placeholder="Search">
                    </div>
                    <ul class="list-item list-unstyled test-left mt-3">
                        <li class="py-2">
                            <a href="{{ api.baseUri }}">{{ api.title }}</a>
                        </li>
                        {% for resource in api.resources %}
                            <li class="py-2">
                                <a href="#">{{ resource.displayName|default(resource.uri) }}</a>
                                <ul class="list-unstyled">
                                    {% include theme ~ "/sidebar-menu.html.twig" %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-10 pt-5">

{#                {{ dump(api) }}#}
{#                {% if api.documentationList is not empty %}#}
{#                    <div class="container-fluid">#}
{#                        <div class="section">#}
{#                            {% if api.baseUriParameters %}#}
{#                                <ul>#}
{#                                    {% for item in api.baseUriParameters %}#}
{#                                        #}{#{% include "./templates/item.nunjucks" %} #}
{#                                    {% endfor %}#}
{#                                </ul>#}
{#                            {% endif %}#}

{#                            {% for documentation in api.documentationList %}#}
{#                                <h5>{{ documentation.title }}</h5>#}
{#                                {{ documentation.content }}#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    </div>#}
{#                {% endif %}#}

                <div class="container-fluid">
                    {% for resource in api.resources %}
                        {% set resource_unique_id = uuid() %}
                        <section class="section">
                            <h2 class="pb-2">{{ resource.displayName|default(resource.uri) }}</h2>
                            {% include theme ~ "/resource-group.html.twig" %}
                        </section>
                    {% endfor %}

{#                    {% if api.types is not empty %}#}
{#                        <div class="section">#}
{#                            <h5>Types</h5>#}
{#                            <ul>#}
{#                                {% for type in api.types %}#}
{#                                    <li>{% include theme ~ "/type.html.twig" with { type: type} %}</li>#}
{#                                {% endfor %}#}
{#                            </ul>#}
{#                        </div>#}
{#                    {% endif %}#}
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container text-center">
        <p class="white-text">Copyright 1999-2020 eZ Systems AS and others.</p>
    </div>
</footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script>
        // $(document).ready(function () {
        //     M.AutoInit();
        //     $('pre code').each(function (i, block) {
        //         hljs.highlightBlock(block);
        //     });
        //
        //     $('.collapsible').collapsible({
        //         accordion: false
        //     });
        // });
        //
        // $("#searchInput").keyup(function () {
        //     var searchValue = $('#searchInput').val();
        //     searchValue = searchValue === "" ? '.' : searchValue;
        //     var regex = new RegExp(searchValue, "i");
        //     $('.search-filter').each(function (i, e) {
        //         var value = $(e).children('.search-filter-value')[0].innerHTML;
        //         if (regex.test(value)) {
        //             $(e).show();
        //         } else {
        //             $(e).hide();
        //         }
        //     });
        // });
        //
        // function copyToClipboard(selector) {
        //     $(selector).select();
        //     document.execCommand("copy");
        // }
    </script>
</body>
</html>
