<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <link href="web/css/bootstrap.min.css" rel="stylesheet">
    <link href="web/fonts/MavenPro.css" rel="stylesheet">
    <link href="web/css/github-gist.css" rel="stylesheet">
    <link href="web/css/style.css" rel="stylesheet">
    <title>{{ api.title }}</title>
</head>
<body>
<header class="header fixed-top background--gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-inline-flex">
                <a href="{{ api.baseUri }}" class="nav-brand text-center">
                    <img class="img-fluid" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgdmlld0JveD0iMCAwIDg1MC40IDg1MC40IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyZWN0IHg9IjEwNS41IiB5PSIxMDYuMyIgd2lkdGg9IjU0MC40IiBoZWlnaHQ9IjU0MC40Ii8+PHJlY3QgeD0iMTU3LjkiIHk9IjE1OC43IiB3aWR0aD0iNDM1LjciIGhlaWdodD0iNDM1LjciIGZpbGw9IiNmZmYiLz48cmVjdCB4PSIzMjkuMiIgeT0iMzI4LjQiIHdpZHRoPSI0MTUuNyIgaGVpZ2h0PSI0MTUuNyIvPjxyZWN0IHg9IjM3OC45IiB5PSIzNzguMSIgd2lkdGg9IjMxNi4xIiBoZWlnaHQ9IjMxNi4yIiBmaWxsPSIjRjA1QTIyIi8+PC9zdmc+DQo=" alt="ez-logo" />
                </a>
                <div class="dropdown show">
                    <a class="page-title text-orange btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ api.title }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="https://doc.ezplatform.com/">eZ Platform Developer Documentation</a>
                        <a class="dropdown-item" href="https://doc.ezplatform.com/projects/userguide">eZ Platform User Documentation</a>
                        <a class="dropdown-item" href="https://doc.ezplatform.com/projects/ezpersonalization">eZ Personalization Documentation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="overflow-hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar-menu col-lg-2">
                <div class="container text-left px-0">
                    <div class="sidebar__header">
                        <div class="d-flex justify-content-center mt-3">
                            <i class="material-icons icon--search">search</i>
                            <input type="text" id="searchInput" class="input--search w-100 rounded-sm border-top-0 border-left-0 border-right-0" placeholder="Search">
                        </div>
                    </div>
                    <nav class="sidebar__nav navbar navigation">
                        <ul class="list-item menu-list list-unstyled test-left mt-2">
                            {% if api.types is not empty %}
                                <li class="py-2 menu-list-item menu-list-item--has-sub-items">
                                    <a href="#types">Types</a>
                                    <ul class="list-unstyled menu-list pl-3 d-none">
                                        {% for type in api.types %}
                                            <li class="py-2">
                                                <a href="">{{ type.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                            {% for resource in api.resources %}
                                <li class="py-2 menu-list-item menu-list-item--has-sub-items">
                                    <a href="#{{ resource.displayName|replace({' ': '_'})|lower }}">{{ resource.displayName|default(resource.uri) }}</a>
                                    <ul class="list-unstyled menu-list pl-3">
                                        {% include theme ~ "/sidebar-menu.html.twig" %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="page-wrapper col-lg-10 pt-5">
                <div class="container-fluid">
                    {% for resource in api.resources %}
                        {% set resource_unique_id = uuid() %}
                        <section id="{{ resource.displayName|replace({' ': '_'})|lower }}" class="section page-section">
                            <h2 class="heading pb-2 text-orange">{{ resource.displayName|default(resource.uri) }}</h2>
                            {% include theme ~ "/resource-group.html.twig" %}
                        </section>
                    {% endfor %}
                    {% if api.types is not empty %}
                        <section id="types" class="section page-section">
                            <h2 class="heading pb-2 text-orange">Types</h2>
                            <ul class="list-unstyled">
                                {% for type in api.types %}
                                    <li>{% include theme ~ "/type.html.twig" with { type: type} %}</li>
                                {% endfor %}
                            </ul>
                        </section>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container text-center">
        <p class="white-text">Copyright 1999-2020 eZ Systems AS and others.</p>
    </div>
</footer>

<script src="web/js/jquery.min.js"></script>
<script src="web/js/bootstrap.bundle.min.js"></script>
<script src="web/js/clipboard.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="web/js/custom.js"></script>
<script>
    // $(document).ready(function () {
    //     M.AutoInit();
    //     $('pre code').each(function (i, block) {
    //         hljs.highlightBlock(block);
    //     });
    //
    //     $('.collapsible').collapsible({
    //         accordion: false
    //     });
    // });
    //
    // $("#searchInput").keyup(function () {
    //     var searchValue = $('#searchInput').val();
    //     searchValue = searchValue === "" ? '.' : searchValue;
    //     var regex = new RegExp(searchValue, "i");
    //     $('.search-filter').each(function (i, e) {
    //         var value = $(e).children('.search-filter-value')[0].innerHTML;
    //         if (regex.test(value)) {
    //             $(e).show();
    //         } else {
    //             $(e).hide();
    //         }
    //     });
    // });
    //
    // function copyToClipboard(selector) {
    //     $(selector).select();
    //     document.execCommand("copy");
    // }
</script>
</body>
</html>
