<div id="{{ sectionId }}_{{ method.type|lower }}_request" {{ method.bodies ? 'class="mb-4"' : '' }}>
    {% if method.bodies %}
        <h6 class="heading text-gray border-bottom pb-2">Request</h6>
        {% for key, body in method.bodies %}
            <div class="table-responsive mb-3">
                <table class="table striped">
                    <tbody>
                    <tr>
                        <th>Media type</th>
                        <td>{{ body.mediaType }}</td>
                    </tr>
                    {% if body.description %}
                        <tr>
                            <th>Description</th>
                            <td>{{ body.description }}</td>
                        </tr>
                    {% endif %}
                    {% if body.type %}
                        <tr>
                            <th>Schema</th>
                            <td>
                                {% include theme ~ "/type.html.twig" with {
                                    type: body.type
                                }%}
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            {% if body.examples %}
                {% for example in body.examples %}
                    <div class="example">
                        {% set mediaTypeFormat = body.mediaType|split('.')|last %}
                        {% set mediaType = mediaTypeFormat ?? '' %}
                        {% set clipboardId = mediaType ~ '_' ~ uuid() %}
                        <div class="example position-relative border p-3 mb-3">
                            <p class="mb-0">{{ mediaType }}</p>
                            <p class="mb-0 icon icon--copy-clipboard">
                                <i class="material-icons-outlined clipboard"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   data-clipboard-target="#{{ clipboardId }}"
                                   title="Copy to clipboard">file_copy
                                </i>
                            </p>
                            <pre id="{{ clipboardId }}" class="border-top"><code class="{{ mediaType }}">{{ example }}</code></pre>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
