<div id="{{ resource_unique_id }}_{{ method.type }}">
    <div class="row px-3 border-top pr-lg-0">
        <div id="{{ method.displayName|replace({' ': '_'})|lower }}"  class="page-section col-lg-6 py-5">
            <h5 class="heading text-gray">{{ method.displayName}}</h5>
            <p><span class="badge badge--sm badge--{{ method.type|lower }}">{{ method.type }}</span> {{ resource.uri }}</p>
            <p>{{ method.description }}</p>
            {% if method.headers %}
                <div class="py-3">
                    <h6 class="heading text-gray">Header parameters</h6>
                    {% for item in method.headers %}
                        <div class="mb-2">
                            <p class="mt-3 mb-0"><strong>{{ item.key }}</strong></p>
                            <p>{{ item.description }}</p>
                            <div class="table-responsive mb-2">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Property</th>
                                        <th scope="col">Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% include theme ~ "/header-parameters.html.twig" %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if method.queryParameters %}
                <div class="py-3">
                    <h6 class="heading text-gray">Query parameters</h6>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Property</th>
                                <th scope="col">Type</th>
                                <th scope="col">Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in method.queryParameters %}
                                {% include theme ~ "/named-parameter.html.twig" %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            {% if method.responses %}
                <div class="py-3">
                    <h6 class="heading text-gray">Possible responses</h6>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Code</th>
                                <th scope="col">Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for response in method.responses %}
                                <tr>
                                    <td>
                                        <a href="#{{ resource_unique_id }}_{{ method.type }}_response_{{ response.statusCode }}"
                                           class="text-ocean-blue {% if loop.first %}{% endif %}">
                                            {{ response.statusCode }}
                                        </a>
                                    </td>
                                    <td>
                                        <p>{{ response.description }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-6 py-5 px-3 examples">
            {% set has_request = method.queryParameters or method.headers or method.bodies %}
            {% set has_response = method.responses is not empty %}
            {% set has_securedby = method.securitySchemes is not empty %}

            {% if has_request or has_response or has_securedby %}
                {% if has_request %}
                    {% include theme ~ "/resource-request-content.html.twig" %}
                {% endif %}
                {% if has_securedby %}
                    <h6>Security</h6>
                    {% include theme ~ "/resource-securedby-content.html.twig" %}
                {% endif %}
                {% if has_response %}
                    {% include theme ~ "/resource-response-content.html.twig" %}
                {% endif %}
            {% endif %}
        </div>
    </div>

    {#    <code class="bold">#}
    {#        {% if resource.parentResource %}#}
    {#            <span class="parent">#}{# {{ resource.parentResource.uri }} #}{#</span>#}
    {#        {% endif %}#}
    {#        {{ resource.uri }}#}
    {#    </code>#}



{#    <div class="section">#}
{#        <!--#}


{#        -->#}
{#        <div >#}


{#        </div>#}
{#    </div>#}
</div>
