{% set methodNameId = method.displayName|replace({' ': '-'})|lower %}
<div id="{{ rootElemId ~ '-' ~ methodNameId }}-section" class="search-container px-3" data-parent="{{ rootParentName }}">
    <div class="row px-1 pr-lg-0">
        <div class="col-12">
            <h5 id="{{ rootElemId ~ '-' ~ methodNameId }}"
                class="heading text-gray font-weight-medium"
                data-field="name"
                data-search="{{ methodNameId }}">
                {{ method.displayName }}
                <a href="#{{ rootElemId ~ '-' ~ methodNameId }}" class="heading__link">¶</a>
            </h5>
        </div>
        <div class="col-lg-6">
            <div>
                <p>
                    <span data-field="method" class="badge badge--sm badge--{{ method.type|lower }}">{{ method.type }}</span>
                    <span data-field="url">{{ resource.uri }}</span>
                </p>
                <p data-field="body">{{ method.description }}</p>
            </div>
            {% if method.headers %}
                <div class="py-3">
                    <h6 class="heading text-gray border-bottom pb-2">Header parameters</h6>
                    {% for item in method.headers %}
                        <div class="mb-2">
                            <p class="mt-3 mb-0 font-weight-medium">{{ item.key }}</p>
                            <p>{{ item.description }}</p>
                            <div class="table-responsive mb-2">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Property</th>
                                        <th scope="col">Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% include theme ~ "/header-parameters.html.twig" %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if method.queryParameters %}
                <div class="py-3">
                    <h6 class="heading text-gray border-bottom pb-2">Query parameters</h6>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Property</th>
                                <th scope="col">Type</th>
                                <th scope="col">Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in method.queryParameters %}
                                {% include theme ~ "/named-parameter.html.twig" %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            {% if method.responses %}
                <div class="py-3">
                    <h6 class="heading text-gray border-bottom pb-2">Possible responses</h6>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Code</th>
                                <th scope="col">Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for response in method.responses %}
                                <tr>
                                    <td>
                                        <a href="#{{ sectionId }}_{{ method.type|lower }}_response_{{ response.statusCode }}"
                                           class="text-ocean-blue {% if loop.first %}{% endif %}">
                                            {{ response.statusCode }}
                                        </a>
                                    </td>
                                    <td>
                                        <p>{{ response.description }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            {% include theme ~ "/types.html.twig" %}
        </div>
        <div class="col-lg-6 px-3 examples">
            {% set has_request = method.queryParameters or method.headers or method.bodies %}
            {% set has_response = method.responses is not empty %}
            {% set has_securedby = method.securitySchemes is not empty %}

            {% if has_request or has_response or has_securedby %}
                {% if has_request %}
                    {% include theme ~ "/resource-request-content.html.twig" %}
                {% endif %}
                {% if has_securedby %}
                    <h6>Security</h6>
                    {% include theme ~ "/resource-securedby-content.html.twig" %}
                {% endif %}
                {% if has_response %}
                    {% include theme ~ "/resource-response-content.html.twig" %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
