{% if (resource.methods or (resource.description and resource.parentUrl)) %}
    <div class="row border-bottom border-top pt-3">
        <div class="col-12 d-flex flex-column pl-4">
            <h4 class="heading text-gray mr-4">{{ resource.uri }}</h4>
            <ul class="list-unstyled d-inline-flex">
                {% for method in resource.methods %}
                    <li class="search-filter {{ loop.index > 1 ? 'px-3' : 'pr-3' }} ">
                        <a href="#{{ method.displayName|replace({' ': '_'})|lower }}">
                           <span class="pl-0 new badge badge--{{ method.type|lower }}" data-badge-caption="{{ method.type }}">
                                {{ method.type }}
                           </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% for method in resource.methods %}
        <div class="row">
            <div class="col-12">
                {% include theme ~ "/resource.html.twig" %}
            </div>
        </div>
    {% endfor %}
{% endif %}

{% for resource in resource.resources %}
    {% include theme ~ "/resource-endpoints.html.twig" %}
{% endfor %}
