<div id="{{ resource_unique_id }}_{{ method.type }}">
    <div class="row px-3 pb-3 border-top">
        <div class="col-lg-4 py-5">
            <h5>{{ method.displayName}}</h5>
            <p>{{ method.type }}: {{ resource.uri }}</p>
            <p>{{ method.description }}</p>
            {% if method.headers %}
                <div class="py-3">
                    <h6>Header parameters</h6>
                    {% for item in method.headers %}
                        <div class="table-responsive mb-2">
                            <p><strong>{{ item.key }}</strong></p>
                            <p>{{ item.description }}</p>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Property</th>
                                    <th scope="col">Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% include theme ~ "/header-parameters.html.twig" %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if method.queryParameters %}
                <h6>Query parameters</h6>
                <div class="table-responsive py-3">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Property</th>
                            <th scope="col">Type</th>
                            <th scope="col">Value</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for item in method.queryParameters %}
                                {% include theme ~ "/named-parameter.html.twig" %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            {% if method.responses %}
                <h6>Possible responses</h6>
                <div class="table-responsive py-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Code</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for response in method.responses %}
                                <tr>
                                    <td>
                                        <a href="#{{ resource_unique_id }}_{{ method.type }}_response_{{ response.statusCode }}"
                                           {% if loop.first %}class="active"{% endif %}>
                                            {{ response.statusCode }}
                                        </a>
                                    </td>
                                    <td>
                                        <p>{{ response.description }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-8 py-5 example">
            {% set has_request_tab = method.queryParameters or method.headers or method.bodies %}
            {% set has_respose_tab = method.responses is not empty %}
            {% set has_securedby_tab = method.securitySchemes is not empty %}

            {% if has_request_tab %}
                <h5>Request</h5>
                {% include theme ~ "/resource-request-content.html.twig" %}
            {% endif %}
























            <div >


{#                {% if has_securedby_tab %}#}
{#                    <h4>Security</h4>#}
{#                    {% include theme ~ "/resource-securedby-content.html.twig" %}#}
{#                {% endif %}#}
            </div>
        </div>
{#        <div class="col-12">#}
{#            {% if has_respose_tab %}#}
{#                <h4>Responses</h4>#}
{#                {% include theme ~ "/resource-response-content.html.twig" %}#}
{#            {% endif %}#}
{#        </div>#}
    </div>

    {#    <code class="bold">#}
    {#        {% if resource.parentResource %}#}
    {#            <span class="parent">#}{# {{ resource.parentResource.uri }} #}{#</span>#}
    {#        {% endif %}#}
    {#        {{ resource.uri }}#}
    {#    </code>#}



{#    <div class="section">#}
{#        <!--#}


{#        -->#}
{#        <div >#}


{#        </div>#}
{#    </div>#}
</div>
