<div id="{{ sectionId }}_{{ method.type|lower }}_request" {{ method.bodies ? 'class="mb-4"' : '' }}>
    {% if method.bodies %}
        <h6 class="heading text-gray border-bottom pb-2">Request</h6>
        {% for key, body in method.bodies %}
            <div class="table-responsive mb-3">
                <table class="table striped">
                    <tbody>
                    <tr>
                        <th>Media type</th>
                        <td>{{ body.mediaType }}</td>
                    </tr>
                    {% if body.description %}
                        <tr>
                            <th>Description</th>
                            <td>{{ body.description }}</td>
                        </tr>
                    {% endif %}
                    {% if body.type %}
                        <tr>
                            <th>Schema</th>
                            <td>
                                {% include theme ~ "/type.html.twig" with {
                                    type: body.type
                                }%}
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            {% if body.examples %}
                {% for example in body.examples %}
                    <div class="example">
                        {% set mediaType = body.type.name %}
                        {% set clipboardId = mediaType ~ '_' ~ uuid() %}
                        {% include theme ~ "/example.html.twig" %}
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
