<div id="{{ resource_unique_id }}_{{ method.type }}_request">
    {% if method.headers %}
        <ul class="collection with-header">
            <li class="collection-header"><h5>Headers</h5></li>
            <li class="collection-item">
                <ul class="browser-default">
                    {% for item in method.headers %}
                        {% include theme ~ "/named-parameter.html.twig" %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endif %}

    {% if method.queryParameters %}
        <ul class="collection with-header">
            <li class="collection-header"><h5>Query Parameters</h5></li>
            <li class="collection-item">
                <ul class="browser-default">
                    {% for item in method.queryParameters %}
                        {% include theme ~ "/named-parameter.html.twig" %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endif %}

    {% if method.bodies %}
        <ul class="collection with-header">
            <li class="collection-header"><h5>Body</h5></li>
            {% for key, body in method.bodies %}
                <li class="collection-item">
                    <table class="table highlight striped">
                        <tbody>
                            <tr>
                                <th>Media type</th>
                                <td>{{ body.mediaType }}</td>
                            </tr>

                            {% if body.description %}
                            <tr>
                                <th>Description</th>
                                <td>{{ body.description }}</td>
                            </tr>
                            {% endif %}

                            {% if body.type %}
                            <tr>
                                <th>Schema</th>
                                <td>
                                    {% include theme ~ "/type.html.twig" with {
                                        type: body.type
                                    }%}
                                </td>
                            </tr>
                            {% endif %}

                            {% if body.examples %}
                            <tr>
                                <th>Example</th>
                                <td>
                                    {% for example in body.examples %}
                                    <div class="example">
                                        <pre><code>{{ example }}</code></pre>
                                    </div>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
