{% set resource_unique_id = uuid() %}
{% if (resource.methods or (resource.description and resource.parentUrl)) %}
    {% for method in resource.methods %}
        <li class="search-filter">
            <div class="row py-5 px-3">
                <div class="col-lg-4">
                    <h3 id="{{ method.displayName|replace({'': '-'})|lower }}">{{ method.displayName }}</h3>
                    <span class="pl-0 new badge badge-{{ method.type|lower }}" data-badge-caption="{{ method.type }}">
                                {{ method.type }}:
{#                                 {% if resource.parentResource %}#}
{#                                     <span class="parent">{{ resource.parentResource.uri }} </span>#}
{#                                 {% endif %}#}
                        {{ resource.uri }}
                            </span>
                    {% if method.description %}
                        <p>{{ method.description}}</p>
                    {% endif %}
                </div>
                <div class="col-lg-8">

                </div>
            </div>
        </li>
    {% endfor %}
{% endif %}

{#{% for resource in resource.resources %}#}
{#    {% include theme ~ "/resource.html.twig" %}#}
{#{% endfor %}#}
